@slightly: 5%;
@significantly: 15%;

// Palette: http://www.colourlovers.com/palette/3417960/sekel
@darker-grey: #27353B;
@dark-grey: #607780;
@light-grey: #B1BFC4;
@lighter-grey: lighten(@light-grey, @significantly);
@white: #F3F3F3;
@orange: #E66819;
@darker-orange: darken(@orange, @significantly);
@brown: #662711;
@brown-semitransparent: fadeout(@brown, 20%);

@code-light-grey: #d0d0d0;

// mixins

.fancy-font() {
    font-family: 'Oswald', sans-serif;
}

.text-shadow(@x: 0; @y: 0; @blur: 1px; @color: #000) {
    -webkit-text-shadow: @arguments;
    -moz-text-shadow: @arguments;
    -ms-text-shadow: @arguments;
    -o-text-shadow: @arguments;
    text-shadow: @arguments;
}
.box-shadow(@type: inset; @x: 0; @y: 0; @blur: 1px; @color: #000) {
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    -ms-box-shadow: @arguments;
    -o-box-shadow: @arguments;
    box-shadow: @arguments;
}

.uppercase() {
    text-transform: uppercase;
}

.no-padding() {
    padding: 0;
}
.no-margin() {
    margin: 0;
}

.round-corners(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.no-round-corners() {
    .round-corners(0);
}

// general styles

@base-font-size: 16px;

body {
    color: @darker-grey;
    background-color: @light-grey;
    font-size: @base-font-size;
    overflow-x: hidden;
}

a {
    color: @brown;
    &:link, &:visited {
        color: @brown;
        text-decoration: underline;
    }
    &:hover, &:active {
        color: @orange;
        text-decoration: none;
    }
}

.wrapper {
    padding: (@base-font-size*2) 0 (@base-font-size*2) 0;
}
main {
    padding-top: @base-font-size; // because it starts with h1
}

.loop(@i) when (@i > 0) {
    h@{i} {
        .fancy-font;
        margin: @base-font-size 0 @base-font-size 0;
    }
    .loop(@i - 1);
}
.loop(6);

h1 {
    color: @orange;
    .text-shadow(1px, 1px, 0, @brown-semitransparent);
}

p, ul, ol, table, table.table {
    margin: 0 0 @base-font-size 0;
}

code, kbd, pre {
    .no-round-corners;
    border: 0;
    background-color: lighten(@light-grey, @slightly);
}

code {
    color: @darker-grey;
}

kbd {
    .round-corners(3px);
    .text-shadow(0, -1px, 0, darken(@dark-grey, @significantly));
    .box-shadow(inset, -1px, -2px, 0, darken(@dark-grey, @significantly));
    border: 0;
    background-color: @dark-grey;
    color: @white;
}

pre {
    font-size: (@base-font-size * 0.9);
    padding: @base-font-size (1.5 * @base-font-size);
    code {
        color: @code-light-grey;
    }
}

table.table {
    @table-border-color: darken(@light-grey, @significantly);
    border-color: @table-border-color;
    tbody, thead, tfoot {
        border-color: @table-border-color;
    }
    tr {
        border-color: @table-border-color;
        th, td {
            border-color: @table-border-color;
        }
    }
}
table.table-striped {
    tr:nth-child(odd) td {
        background-color: lighten(@light-grey, @significantly);
    }
}
table.table-hover {
    tr:hover td {
        background-color: lighten(@light-grey, @significantly);
    }
}

blockquote {
    border-left-color: @orange;
    footer {
        color: @dark-grey;
    }
}
blockquote.blockquote-reverse {
    border-right-color: @orange;
}

hr {
    border: 0;
    border-top: 1px solid darken(@light-grey, @significantly);
    border-bottom: 1px solid lighten(@light-grey, @significantly);
}

// connections between header, content and footer

header, main {
    border-bottom: 1px solid darken(@light-grey, @significantly);
}
main, footer {
    border-top: 1px solid lighten(@light-grey, @significantly);
}

// header

header {
    @title-height: 120px;
    padding-top: (@base-font-size*2 + 10px);
    .title {
        .fancy-font;
        .text-shadow(1px, 1px, 0, @brown-semitransparent);
        .uppercase;
        font-size: (@title-height / 2);
        letter-spacing: -0.1rem;
        line-height: (@title-height / 2);
        font-weight: 300;
        a:link, a:visited, a:hover, a:active {
            color: @orange;
            text-decoration: none;
        }
    }
    .subtitle {
        font-size: (@title-height / 8);
        color: @dark-grey;
        padding: 0;
    }
}

// content

main {
    .published-date, .reading-time, .separator {
        color: @dark-grey;
    }
    .posts {
        .post {
            margin-bottom: 0.5rem;
            time {
                display: inline-block;
                min-width: 12ch;
            }
            a {
                &:link, &:visited {
                    text-decoration: none;
                }
            }
        }
    }
}

// footer

footer {
    .license-note {
        font-size: (@base-font-size * 0.8)
    }
    a {
        text-decoration: none;
    }
    a.important-link {
        font-size: (@base-font-size * 0.8);
        font-family: monospace;
    }
}
