<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }} - {{ site.title }}</title>
        <link href="//fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet" type="text/css">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/style.min.css" rel="stylesheet" type="text/css">
        <link href="/css/syntax.css" rel="stylesheet" type="text/css">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link href="/atom.xml" rel="alternate" type="application/atom+xml" title="Atom feed">
        <link href="/favicon.ico" rel="shortcut icon">
        <link href="{{ site.data.template.author.gplus }}" rel="author">
    </head>
    <body>
        <header class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 col-md-12">
                        <div class="title">
                            <a href="/">{{ site.title }}</a>
                        </div>
                        <div class="subtitle">{{ site.subtitle }}</div>
                    </div>
                </div>
            </div>
        </header>
        <main class="wrapper">
            <div class="container">
                <div class="row">
                    <article class="col-lg-10 col-lg-offset-1">
                        {{ content }}
                    </article>
                </div>
            </div>
        </main>
        <footer class="wrapper text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <p class="about-author">
                            <span class="vcard">
                                <a class="fn url" href="{{ site.data.template.author.homepage }}">
                                    {{ site.data.template.author.fullname }}
                                </a>
                                aka
                                <span class="nickname">
                                    {{ site.data.template.author.nickname }}
                                </span>
                            </span>
                            {% for link in site.data.template.links %}
                            &ndash;
                            <a href="{{ link.url }}">{{ link.title }}</a>
                            {% endfor %}
                        </p>
                        <p class="license-note">
                            <a href="{{ site.data.template.license.url }}" rel="license">
                                {{ site.data.template.license.title }}
                            </a>
                        </p>
                        <p>
                            <a class="important-link" href="{{ site.data.template.atom.url }}">
                                {{ site.data.template.atom.title }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        {% if site.environment == 'production' %}
        {% include google_analytics.html %}
        {% endif %}
    </body>
</html>
