---
layout: default
---
<h1>{{ page.title }}</h1>

<p class="published-date">Published on {{ page.date | date_to_string }}</p>

{{ content }}

<hr/>

{% if site.environment == 'production' %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'scriptin';
    var disqus_title = '{{ page.title }}';
    var disqus_identifier = '{{ page.id }}';
    var disqus_url = '{{ site.production_url }}{{ page.url }}';
    (function(d) {
        var dsq = d.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (d.getElementsByTagName('head')[0] || d.getElementsByTagName('body')[0]).appendChild(dsq);
    })(document);
</script>
<noscript>
    Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments</a>.
</noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% else %}
<p>Comments are disabled in development mode.</p>
{% endif %}
