@import 'reset.css';
@import 'catppuccin.css';
@import 'syntax.css';

:root {
    --line-height: 1.4;

    /* Palette: http://www.colourlovers.com/palette/3417960/sekel */
    --darker-grey: #27353B;
    --dark-grey: #607780;
    --light-grey: #B1BFC4;
    --lighter-grey: #dde3e5;
    --white: #F3F3F3;
    --orange: #E66819;
    --brown: #662711;

    --code-light-grey: #D0D0D0;

    --font-size-normal: 1.1rem;
    --font-size-small: 0.9rem;
    --title-height: 8rem;
}

/* general styles */

body {
    font-family: sans-serif;
    color: color-mix(in hsl, black 15%, var(--darker-grey));
    background-color: var(--lighter-grey);
    font-size: var(--font-size-normal);
    overflow-x: auto;
}

a {
    color: var(--brown);
    cursor: pointer;
    &:link, &:visited {
        color: var(--brown);
        text-decoration: underline;
    }
    &:hover, &:active {
        color: var(--orange);
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    line-height: 1em;
    margin: var(--font-size-normal) 0 var(--font-size-normal) 0;
    text-wrap: balance;
}
h1 { font-size: calc(var(--font-size-normal) * 3); }
h2 { font-size: calc(var(--font-size-normal) * 2); }
h3 { font-size: calc(var(--font-size-normal) * 1.25); }
h4, h5, h6 { font-size: var(--font-size-normal); }

p, ul, ol, pre, table, table.table {
    margin: 0 0 calc(var(--font-size-normal) * var(--line-height)) 0;
    line-height: var(--line-height);
}

ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

code, kbd, pre {
    font-family: 'JetBrains Mono', monospace;
}

:not(pre) > code {
    border: 0;
    background-color: color-mix(in hsl, white 5%, var(--light-grey));
    color: var(--darker-grey);
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;
}

kbd {
    font-size: var(--font-size-small);
    padding: 0.1rem 0.4rem 0.2rem 0.4rem;
    border-radius: 0.2rem;
    text-shadow: 0 -0.05rem 0 color-mix(in hsl, black 15%, var(--dark-grey));
    box-shadow: inset -0.1rem -0.2rem 0 color-mix(in hsl, black 15%, var(--darker-grey));
    border: 0;
    background-color: var(--darker-grey);
    color: var(--white);
}

pre {
    white-space: pre;
    font-size: var(--font-size-small);
    /* Extra bottom margin to account for outline */
    margin-bottom: calc(var(--font-size-small) * (var(--line-height) + 1));
    overflow-y: auto;
    code {
        color: var(--code-light-grey);
    }
}

/* Make sure that we don't override nested lists by providing a more specific rules */
ul li, ol ul li {
    list-style: disc outside;
    margin-left: 2rem;
}

ol li, ul ol li {
    list-style: decimal outside;
    margin-left: 2rem;
}

ul.list-unstyled li, ol.list-unstyled li {
    list-style: none;
    margin-left: 0;
}

table {
    border-radius: 0.3rem;
    overflow: hidden;
    background-color: var(--lighter-grey);
    tr {
        &:nth-child(2n) {
            background-color: color-mix(in hsl, black 5%, var(--lighter-grey));
        }
        th {
            background-color: var(--darker-grey);
            color: var(--white);
        }
        th, td {
            padding: 0.4rem 0.8rem;
            font-size: var(--font-size-small);
        }
    }
}

blockquote {
    border-left: 0.2rem solid var(--brown);
    padding: 0 1rem;
    footer {
        color: var(--darker-grey);
    }
}

/* reusable components */

.card {
    background: linear-gradient(
        to top right,
        var(--light-grey),
        color-mix(in hsl, black 10%, var(--light-grey))
    );
    border-radius: .5rem;
    padding: 1rem 1.5rem;
}

.card-light {
    background: linear-gradient(
        to top right,
        color-mix(in hsl, black 5%, var(--lighter-grey)),
        color-mix(in hsl, black 10%, var(--lighter-grey))
    );
    border-radius: .5rem;
    padding: 1rem 1.5rem;
}

.card, .card-light {
    h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
        margin-top: calc(var(--font-size-normal) / 2);
    }
    p {
        margin-bottom: .5em;
    }
}

.tags {
    list-style: none;
    margin: 0;
    li {
        margin: 0 0 .3rem 0;
        color: var(--darker-grey);
        background: var(--lighter-grey);
        display: inline-block;
        font-size: var(--font-size-small);
        padding: .1rem .4rem;
        /*border: .1rem solid var(--light-grey);*/
        border-radius: .4rem;
    }
}

/* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
.dont-break-out {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

/* main offset */

body {
    padding: 2rem;
}

header, main, footer {
    max-width: 70ch;
    display: block;
    position: relative;
    margin: 0 auto;
}

/* connections between header, content and footer */

header, main {
    border-bottom: 0.1rem solid var(--light-grey);
}

/* header */

header {
    padding-bottom: 1.5rem;
    .title {
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-size: calc(var(--title-height) / 2.5);
        letter-spacing: -0.1rem;
        line-height: calc(var(--title-height) / 2.5);
        font-weight: 300;
        a:link, a:visited, a:hover, a:active {
            text-shadow: 0.05rem 0.05rem color-mix(in hsl, black 15%, var(--darker-grey));
            text-decoration: none;
        }
        a:link, a:visited, a:active {
            color: var(--darker-grey);
        }
        a:hover {
            color: var(--orange);
            .comment-mute {
                color: color-mix(in hsl, white 15%, var(--orange));
            }
        }
        /* Precise alignment by letter shape */
        position: relative;
        left: -0.3rem;

        .comment-mute {
            color: var(--dark-grey);
        }
    }
    .subtitle {
        font-family: 'JetBrains Mono', monospace;
        font-size: calc(var(--title-height) / 8);
        color: var(--darker-grey);
        padding: 0;
        margin-top: calc(var(--title-height) / 8);
    }
}

/* intro */

.intro {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 0.5rem;
    flex-wrap: wrap;
    position: relative;

    .avatar {
        border: .1rem solid var(--light-grey);
        float: left;
        margin: 0.2rem 1rem 0.2rem 0;
        border-radius: 50%;
    }

    .speech-bubble {
        font-family: 'Oswald', sans-serif;
        position: relative;
        display: block;
        background: linear-gradient(
            to top right,
            var(--light-grey),
            color-mix(in hsl, black 10%, var(--light-grey))
        );
        padding: .5rem 1rem;
        border-radius: .5rem .5rem .5rem 0;
        font-size: calc(var(--font-size-normal) * 1.4);
        color: var(--darker-grey);
        text-shadow: 1px 1px 0 var(--lighter-grey);
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 100%;
            width: 0;
            height: 0;
            border: .5rem solid transparent;
            border-right-color: var(--light-grey);
            border-left: 0;
            border-bottom: 0;
            margin-top: -.5rem;
            margin-left: -.5rem;
        }
    }
}

/* content */

main {
    padding-bottom: .5rem;

    .projects {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: start;
        align-items: start;
        justify-content: start;
        gap: 1rem;
        margin-bottom: 1.5rem;
        line-height: 1.5;
    }

    @media screen and (min-width: 700px) {
        .projects {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .back-link {
        display: block;
        font-size: var(--font-size-small);
        margin: .5rem 0;
    }

    .published-date, .updated-date, .reading-time, .separator {
        color: var(--darker-grey);
        font-size: var(--font-size-small);
        font-family: 'JetBrains Mono', monospace;
    }
    p.published-date, p.updated-date {
        margin-bottom: 0;
    }
    .posts {
        .post {
            margin-bottom: 0.7rem;
            &:last-child {
                margin-bottom: 0;
            }
            time {
                display: inline-block;
                min-width: 12ch;
                @media screen and (width < 90ch) {
                    & {
                        display: block;
                        font-size: var(--font-size-small);
                    }
                }
            }
        }
    }
}

/* footer */

footer {
    padding-top: 1.5rem;
    .about-site {
        font-size: var(--font-size-small);
    }
}
