@import 'reset.css';
@import 'catppuccin.css';
@import 'syntax.css';

:root {
    /* Changes of lightness */
    --l-shift-weak: 6;
    --l-shift-medium: 12;
    --l-shift-strong: 18;

    /* Colors */
    --normal-fg: #27353B;
    --normal-bg: #B1BFC4;

    --contrast-fg: hsl(from var(--normal-fg) h s calc(l - var(--l-shift-strong)));
    --contrast-bg: hsl(from var(--normal-bg) h s calc(l + var(--l-shift-strong)));

    --inverted-fg: #F3F3F3;
    --inverted-bg: #27353B;

    --normal-border: var(--normal-bg);

    --link-normal: #662711;
    --link-hover: #E66819;

    /* Text sizes */
    --line-height: 1.4;
    --font-size-normal: 1.1rem;
    --font-size-small: 0.9rem;
    --title-height: 8rem;

    /* Border radius */
    --border-radius-small: 0.1rem;
    --border-radius-medium: 0.3rem;
    --border-radius-big: 0.5rem;
}

/* general styles */

body {
    font-family: sans-serif;
    color: var(--contrast-fg);
    background-color: var(--contrast-bg);
    font-size: var(--font-size-normal);
    overflow-x: auto;
}

a {
    color: var(--link-normal);
    cursor: pointer;
    &:link, &:visited {
        color: var(--link-normal);
        text-decoration: underline;
    }
    &:hover, &:active, &:focus-visible   {
        color: var(--contrast-fg);
        text-decoration: none;
        background: linear-gradient(
            to top right,
            var(--link-hover),
            hsl(from var(--link-hover) h s calc(l + var(--l-shift-medium)))
        );
        outline: .1rem solid var(--link-hover);
        border-radius: var(--border-radius-small);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    line-height: 1em;
    margin: var(--font-size-normal) 0 var(--font-size-normal) 0;
    text-wrap: balance;
}
h1 { font-size: calc(var(--font-size-normal) * 3); }
h2 { font-size: calc(var(--font-size-normal) * 2); }
h3 { font-size: calc(var(--font-size-normal) * 1.25); }
h4, h5, h6 { font-size: var(--font-size-normal); }

p, ul, ol, pre, table, table.table {
    margin: 0 0 calc(var(--font-size-normal) * var(--line-height)) 0;
    line-height: var(--line-height);
}

ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

code, kbd, pre {
    font-family: 'JetBrains Mono', monospace;
}

:not(pre) > code {
    border: 0;
    background-color: hsl(from var(--normal-bg) h s calc(l + var(--l-shift-weak)));
    color: var(--normal-fg);
    padding: 0.1rem 0.2rem;
    border-radius: var(--border-radius-medium);
}

kbd {
    font-size: var(--font-size-small);
    padding: 0.1rem 0.4rem 0.2rem 0.4rem;
    border-radius: var(--border-radius-medium);
    color: var(--inverted-fg);
    border: 0;
    background-color: var(--inverted-bg);
    box-shadow: inset -0.1rem -0.2rem 0 hsl(from var(--inverted-bg) h s calc(l - var(--l-shift-strong)));
}

pre {
    white-space: pre;
    font-size: var(--font-size-small);
    overflow-y: auto;
    padding: .9rem;
    code {
        color: var(--inverted-fg);
    }
}

.highlight {
    border-radius: var(--border-radius-medium);
}

/* Make sure that we don't override nested lists by providing a more specific rules */
ul li, ol ul li {
    list-style: disc outside;
    margin-left: 2rem;
}

ol li, ul ol li {
    list-style: decimal outside;
    margin-left: 2rem;
}

ul.list-unstyled li, ol.list-unstyled li {
    list-style: none;
    margin-left: 0;
}

table {
    border-radius: var(--border-radius-medium);
    overflow: hidden;
    background-color: var(--contrast-bg);
    tr {
        &:nth-child(2n) {
            background-color: hsl(from var(--contrast-bg) h s calc(l - var(--l-shift-weak)));
        }
        th {
            background-color: var(--inverted-bg);
            color: var(--inverted-fg);
        }
        th, td {
            padding: 0.4rem 0.8rem;
            font-size: var(--font-size-small);
        }
    }
}

blockquote {
    border-left: 0.2rem solid var(--normal-fg);
    padding: 0 1rem;
}

/* reusable components */

.card {
    background: linear-gradient(
        to top right,
        var(--normal-bg),
        hsl(from var(--normal-bg) h s calc(l - var(--l-shift-medium)))
    );
}

.card-light {
    background: linear-gradient(
        to top right,
        hsl(from var(--contrast-bg) h s calc(l - var(--l-shift-weak))),
        hsl(from var(--contrast-bg) h s calc(l - var(--l-shift-medium)))
    );
}

.card, .card-light {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-radius: var(--border-radius-big);
    padding: 1rem 1.5rem;
    h1, h2, h3, h4, h5, h6, p, ul, ol {
        margin: 0;
    }
    *:last-child {
        margin-top: auto;
    }
}

.tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: .3rem;
    li {
        margin: 0;
        color: var(--normal-fg);
        background: var(--contrast-bg);
        display: inline-block;
        font-size: var(--font-size-small);
        padding: .1rem .4rem;
        border-radius: var(--border-radius-medium);
    }
}

/* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
.dont-break-out {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

/* main offset */

body {
    padding: 2rem;
}

header, main, footer {
    max-width: 70ch;
    display: block;
    position: relative;
    margin: 0 auto;
}

/* connections between header, content and footer */

header, main {
    border-bottom: 0.1rem solid var(--normal-border);
}

/* header */

header {
    padding-bottom: 1.5rem;
    .title {
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-size: calc(var(--title-height) / 2.5);
        letter-spacing: -0.1rem;
        line-height: calc(var(--title-height) / 2.5);
        font-weight: 400;
        .comment-mute {
            font-weight: 300;
        }
        a:link, a:visited, a:hover, a:active {
            text-decoration: none;
        }
        a:link, a:visited, a:active {
            color: var(--normal-fg);
            .comment-mute {
                color: hsl(from var(--normal-fg) h s calc(l + var(--l-shift-strong)));
            }
        }
        a:hover, a:focus-visible {
            color: var(--link-hover);
            background: none;
            outline: none;
            .comment-mute {
                color: hsl(from var(--link-hover) h s calc(l + var(--l-shift-strong)));
            }
        }
    }
    .subtitle {
        font-family: 'JetBrains Mono', monospace;
        font-size: calc(var(--title-height) / 8);
        color: var(--normal-fg);
        padding: 0;
        margin-top: calc(var(--title-height) / 8);
    }
}

/* intro */

.intro {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
    position: relative;

    .avatar-container {
        overflow: hidden;
        border: .1rem solid var(--normal-border);
        border-radius: 50%;
        margin: 0;
        padding: 0;
        width: 100px;
        height: 100px;
        .avatar {
            transform: scale(1);
            transition: all 0.3s;
            &:hover {
                transform: scale(1.4);
            }
        }
    }

    .speech-bubble {
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        position: relative;
        display: block;
        background: linear-gradient(
            to top right,
            var(--normal-bg),
            hsl(from var(--normal-bg) h s calc(l - var(--l-shift-medium)))
        );
        padding: .5rem 1rem;
        border-radius: var(--border-radius-big) var(--border-radius-big) var(--border-radius-big) 0;
        font-size: calc(var(--font-size-normal) * 1.4);
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 100%;
            width: 0;
            height: 0;
            border: .5rem solid transparent;
            border-right-color: var(--normal-border);
            border-left: 0;
            border-bottom: 0;
            margin-top: -.5rem;
            margin-left: -.5rem;
        }
    }
}

.about-me {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

/* content */

main {
    padding-bottom: .5rem;

    .projects {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: start;
        align-items: stretch;
        justify-content: start;
        gap: 1rem;
        margin-bottom: 1.5rem;
        line-height: 1.5;
        .project-links {
            font-size: var(--font-size-small);
            li {
                display: inline-block;
            }
        }
    }

    @media screen and (min-width: 700px) {
        .projects {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .back-link {
        display: block;
        font-size: var(--font-size-small);
        margin: .5rem 0;
    }

    .published-date, .updated-date, .reading-time, .separator {
        color: var(--normal-fg);
        font-size: var(--font-size-small);
        font-family: 'JetBrains Mono', monospace;
    }
    p.published-date, p.updated-date {
        margin-bottom: 0;
    }
    .posts {
        .post {
            &:last-child {
                margin-bottom: 0;
            }
            time {
                display: inline-block;
                min-width: 12ch;
                @media screen and (width < 90ch) {
                    & {
                        display: block;
                        font-size: var(--font-size-small);
                    }
                }
            }
        }
    }
}

/* footer */

footer {
    padding-top: 1.5rem;
    .about-site {
        font-size: var(--font-size-small);
    }
}
