.highlight {
  color: var(--ctp-mocha-text);
  background-color: var(--ctp-mocha-crust);
  outline: 0.9rem solid var(--ctp-mocha-crust);
}
.highlight .c   { color: var(--ctp-mocha-subtext0); font-style: italic } /* Comment */
.highlight .err { color: var(--ctp-mocha-red) } /* Error */
.highlight .g   {  } /* Generic */
.highlight .k   { color: var(--ctp-mocha-lavender); font-weight: bold } /* Keyword */
.highlight .l   {  } /* Literal */
.highlight .n   {  } /* Name */
.highlight .o   {  } /* Operator */
.highlight .x   {  } /* Other */
.highlight .p   {  } /* Punctuation */
.highlight .cm  { color: var(--ctp-mocha-subtext0); font-style: italic } /* Comment.Multiline */
.highlight .cp  { color: var(--ctp-mocha-subtext0); font-style: italic } /* Comment.Preproc */
.highlight .c1  { color: var(--ctp-mocha-subtext0); font-style: italic } /* Comment.Single */
.highlight .cs  { color: var(--ctp-mocha-subtext0); font-style: italic } /* Comment.Special */
.highlight .gd  {  } /* Generic.Deleted */
.highlight .ge  {  } /* Generic.Emph */
.highlight .gr  { color: var(--ctp-mocha-red) } /* Generic.Error */
.highlight .gh  {  } /* Generic.Heading */
.highlight .gi  {  } /* Generic.Inserted */
.highlight .go  {  } /* Generic.Output */
.highlight .gp  {  } /* Generic.Prompt */
.highlight .gs  { font-weight: bold } /* Generic.Strong */
.highlight .gu  {  } /* Generic.Subheading */
.highlight .gt  {  } /* Generic.Traceback */
.highlight .kc  {  } /* Keyword.Constant */
.highlight .kd  {  } /* Keyword.Declaration */
.highlight .kn  {  } /* Keyword.Namespace */
.highlight .kp  {  } /* Keyword.Pseudo */
.highlight .kr  {  } /* Keyword.Reserved */
.highlight .kt  {  } /* Keyword.Type */
.highlight .ld  {  } /* Literal.Date */
.highlight .m   { color: var(--ctp-mocha-peach) } /* Literal.Number */
.highlight .s   { color: var(--ctp-mocha-green) } /* Literal.String */
.highlight .na  { color: var(--ctp-mocha-blue) } /* Name.Attribute */
.highlight .nb  {  } /* Name.Builtin */
.highlight .nc  { color: var(--ctp-mocha-blue) } /* Name.Class */
.highlight .no  {  } /* Name.Constant */
.highlight .nd  {  } /* Name.Decorator */
.highlight .ni  {  } /* Name.Entity */
.highlight .ne  {  } /* Name.Exception */
.highlight .nf  { color: var(--ctp-mocha-blue) } /* Name.Function */
.highlight .nl  {  } /* Name.Label */
.highlight .nn  {  } /* Name.Namespace */
.highlight .nx  {  } /* Name.Other */
.highlight .py  { color: var(--ctp-mocha-blue) } /* Name.Property */
.highlight .nt  {  } /* Name.Tag */
.highlight .nv  {  } /* Name.Variable */
.highlight .ow  {  } /* Operator.Word */
.highlight .w   {  } /* Text.Whitespace */
.highlight .mf  { color: var(--ctp-mocha-peach) } /* Literal.Number.Float */
.highlight .mh  { color: var(--ctp-mocha-peach) } /* Literal.Number.Hex */
.highlight .mi  { color: var(--ctp-mocha-peach) } /* Literal.Number.Integer */
.highlight .mo  { color: var(--ctp-mocha-peach) } /* Literal.Number.Oct */
.highlight .sb  { color: var(--ctp-mocha-green) } /* Literal.String.Backtick */
.highlight .sc  { color: var(--ctp-mocha-green) } /* Literal.String.Char */
.highlight .sd  { color: var(--ctp-mocha-green) } /* Literal.String.Doc */
.highlight .s2  { color: var(--ctp-mocha-green) } /* Literal.String.Double */
.highlight .se  { color: var(--ctp-mocha-green) } /* Literal.String.Escape */
.highlight .sh  { color: var(--ctp-mocha-green) } /* Literal.String.Heredoc */
.highlight .si  { color: var(--ctp-mocha-green) } /* Literal.String.Interpol */
.highlight .sx  { color: var(--ctp-mocha-green) } /* Literal.String.Other */
.highlight .sr  { color: var(--ctp-mocha-green) } /* Literal.String.Regex */
.highlight .s1  { color: var(--ctp-mocha-green) } /* Literal.String.Single */
.highlight .ss  { color: var(--ctp-mocha-green) } /* Literal.String.Symbol */
.highlight .bp  {  } /* Name.Builtin.Pseudo */
.highlight .vc  { color: var(--ctp-mocha-blue) } /* Name.Variable.Class */
.highlight .vg  {  } /* Name.Variable.Global */
.highlight .vi  {  } /* Name.Variable.Instance */
.highlight .il  { color: var(--ctp-mocha-peach) } /* Literal.Number.Integer.Long */
